/* CSS Document */

#yyj-comment-con{
  width:1080px;height:auto;
  overflow:hidden;
  margin:10px auto;
  background:#fff;
  box-shadow:0 0 3px #aaa;
  padding:10px;
}
#yyj-comment-con .bread-nav{
 width:100%;height:20px;
 line-height:20px;
}

#yyj-comment-con .bread-nav .first{
  font-size:16px;
}

#yyj-comment-con .bread-nav .last{
 color:#009494;
}

#yyj-comment-con .content{
width:100%;height:auto;margin-top:10px;
}

#yyj-comment-con .content .content-con{
 float:left;width:720px;
 border-top:2px solid #009494;
 padding:25px 40px;
 color:#444;
 font-family:tahoma,arial,宋体,sans-serif;
 font-size:13px;
}

#yyj-comment-con .content .content-rank{
 float:right;width:257px;
 border-top:2px solid #009494;
 padding-top:10px;
}
#yyj-comment-con .content .title{
  text-align:center;
  width:100%;
}
#yyj-comment-con .content .info{
  text-align:center;
}
#yyj-comment-con .content .info strong{
  font-weight:normal;
  font-size:12px;color:#777;
}
#yyj-comment-con .content .p{
  width:100%;height:auto;
  text-indent:2em;margin-bottom:10px;
}
#yyj-comment-con .imgbox{
  width:100%;text-align:center;
  padding:20px 0px;
}
#yyj-comment-con .change-arc{
  width:100%;
}
#yyj-comment-con .change-arc em{
  font-style:normal;font-weight:bold;
}
#yyj-comment-con .change-arc a{
 font-weight:normal;font-size:13px;
}


