.myl-content{
              /* border:1px solid red; */
              width:1130px;
              height:800px;
              margin:0 auto;
              margin-top:10px;
              margin-bottom:30px;
              /* position:relative; */
              }

.myl-news-list-box{
                    background-color:white;
                    /* border:1px solid red; */
                    width:828px;
                    height:672px;
                    box-shadow: 0px 2px 5px rgb(179,179,179) ;
                    }
.myl-news-list-title{
                      padding-left:10px;
                      height:40px; 
                      line-height:40px;
                      font-size:14px;
                      width:817px;
                      /* background-color:rgb(239,239,239); */
                      margin-top:6px;
                      margin-bottom:12px;
                      }
.myl-news-list-title span{
                           font-size:12px;
                           color:rgb(0,148,147);
                           }

.news-item{
            margin-left:14px;
            /* border:1px solid red; */
            width:248px;
            height:248px;
            margin-right:14px;
            margin-bottom:20px;
            position:relative;
            }
.news-item-image{
                  width:247px;height:181px;
                  box-shadow:  0px 2px 5px rgb(179,179,179) ;
                  }

.news-item-image-zhezhao{
                          display:none; 
                          background-color:black;
                          color:white;
                          position:absolute;
                          width:241px;height:175px;
                          top:3px;
                          left:3px;
                          z-index:9;
                          }
.news-item-image-zhezhao-wenzi{
                                /* background-color:red; */
                                display:none; 
                                color:white;
                                position:absolute;
                                width:175px;
                                height:65px;
                                line-height:65px;
                                text-align:center;
                                top:50%;
                                left:50%;
                                margin-left:-88px;
                                margin-top:-65px;
                                z-index:10;
                                border-top:1px solid white;
                                border-bottom:1px solid white;
                                }
.news-item-image-zhezhao-wenzi a{
                                  color:white;
                                  }

.news-item-image img{
                      width:241px;height:175px;
                      margin-top:3px;
                      margin-bottom:3px;
                      margin-left:3px;
                      margin-right:3px;
                      }
.news-item-content{
                    /* margin-left:12px; */
                    margin-top:15px;
                    line-height:18px;
                    }
.news-item-content p{
                      font-size:15px;
                      }

.news-item-content span{
                         margin-left:2px;
                         font-size:12px;
                         }