/* CSS Document */
.yyj-show-banner{
 width:100%;height:253px;

}
.yyj-banner-box{
 width:1280px;height:100%;
 margin:0 auto;
}
.yyj-show-content{
 width:1080px;height:auto;
 margin:0 auto;
 margin-top:-200px;
 position:relative;
 background:#fff;
}
.yyj-show-content-brand-box{
 width:100%;height:30px;background:#009494;
 line-height:30px;
}
.yyj-show-content-brand{
  width:900px;height:100%;
  margin:0 auto;
}
.yyj-show-content-brand a{
float:left;color:#006464;
}
.yyj-show-content-brand a.home{
 padding-left:18px;
 background:url(../images/home.png) no-repeat 0 6px;
}
.yyj-show-content-brand span{
float:left;margin:0 5px;
color:#006464;
}
.yyj-show-content-brand em{
float:left;color:#eee;
}

.yyj-content-text-box{
 width:1080px;height:auto;
 overflow:hidden;
}
.yyj-content-text{
 width:900px;height:auto;
 margin:0 auto;
 height:200px;
}

.yyj-content-title{
  width:100%;height:auto;text-align:center;
  color:#009494;
  letter-spacing:3px;margin-top:40px;
}
.yyj-content-text .info{
  width:100%;text-align:center;
}
.yyj-content-text .info strong{
  color:#ccc;font-size:12px;font-weight:normal;
  padding:5px;
}
.yyj-content-text .black{
 width:95%;border-top:1px solid #ccc;margin:20px auto;
}
.yyj-content-con{
width:100%;height:auto;
font-size:14px;color:#444;
text-indent:2em;line-height:20px;

}