@import url(base.css);
/*top开始*/
.hnz_nav-box { min-width: 1080px; height: 157px; margin: 0 auto; }
.hnz_color-bg {min-width: 1080px; height: 27px; background: #009494; }
	/*logo*/
.hnz_logo-box { width: 1080px; height: 80px; margin: 0 auto; }
.hnz_logo-box .hnz_logo { width: 190px; height: 64px; background: url(../images/hnz_logo.gif) no-repeat 0 0; margin: 8px 0;}
	/*login*/
.hnz_login-box{width:550px;height:30px;margin:25px 0;}
.hnz_login-box .hnz_user{width:100px;height:28px;border:1px solid #009494; background:url(../images/hnz_user.gif) no-repeat 110px center;padding:0 30px 0 5px;}
.hnz_login-box .hnz_pwd{width:100px;height:28px;border:1px solid #009494; background:url(../images/hnz_pwd.gif) no-repeat 110px center;padding:0 30px 0 5px;margin-left:5px;}
.hnz_login-box .hnz_btn{width:60px;height:30px;background:#009494;border:0;color:#fff; cursor:pointer;margin-left:5px;}
.hnz_login-box .hnz_search-input{width:160px;height:28px;border:1px solid #009494;padding:0 5px;margin-left:5px;}
.hnz_login-box .hnz_search-btn{width:29px;height:30px;background:#009494 url(../images/hnz_search.gif) no-repeat 0 0;border:0;margin-left:0px; cursor:pointer;}
	/*nav*/
.hnz_n-box{min-width:1080px;height:49px;border-top:1px solid #009494;}
.hnz_nav{width:1080px;height:100%;margin:0 auto;}
.hnz_nav li{width:122px;height:100%;float:left; position:relative;z-index:999;}
.hnz_nav li a{ display:block;width:100%;height:100%; text-align:center; line-height:49px; color:#009494;}
.hnz_nav li i{width:15px;height:15px;background:url(../images/hnz_arrow.png) no-repeat 0 0; position:absolute; right:10%;top:16px;}
.hnz_nav li:hover>a{background:#009494;color:#fff;}
.hnz_nav li:hover i{background:url(../images/hnz_arrow_hot.png) no-repeat 0 0;}
#hnz_hot a{background:#009494;color:#fff;}
.hnz_nav li dl{width:100%;height:auto; display:none; position:absolute; z-index:999; }
.hnz_nav li dl dd{width:100%;height:49px;background:#009494;border-top:1px solid #fff;}
.hnz_nav li dl dd a{color:#fff;}
.hnz_nav li dl dd a:hover{background:#007575;transition:all 1s;}
/*top结束*/
/*footer开始*/
.hnz_footer-box{min-width:1080px;height:100px;margin-top:42px;background:#008787;}
.hnz_footer{width:1080px;height:100%;margin:0 auto;}
.hnz_footer p{padding-top:20px; text-align:center; font-size:12px;color:#fff; line-height:20px;}
.hnz_footer p a{color:#fff;}
.hnz_footer p a:hover{ text-decoration:underline;}
/*footer结束*/