@import url(base.css);
  
    .wq_fldh{
  width:257px;height:auto;	position:fixed;
  top:168px;left:50%;z-index:99;margin-left:-540px;
  _position:absolute;_left:0;_top:0;
  background:#fff;
	}
	.wq_fldh_top{
 width:100%;height:72px;background:url(../images/wq_fldh.jpg) no-repeat;	
 margin-bottom:8px;
	}
	.wq_fldh_content{
 background:#fff;	
	}
	.wq_fldh_title{
 width:234;height:34px;	margin-left:2px;border-top:1px solid #e6e6e6;
 border-bottom:1px solid #e6e6e6;line-height:34px;padding-left:20px;
 color:#575757;cursor:pointer;font-size:16px;background:#fff;
	}
	.wq_fldh_sanjiao{
 width:8px;height:8px;background:url(../images/wq_daosanjiao.jpg) no-repeat center;
 display:block;float:right;
 margin-right:16px;margin-top:13px;
	}
	.wq_fldh_list{
 width:211px;height:34px;border-bottom:1px dashed #e6e6e6;
 margin-left:21px;line-height:34px;background:#fff;
 font-size:14px;color:#9d9f9f;padding-left:3px;
 cursor:pointer;
	}
	.wq_fldh_bottom{
 width:100%;height:20px;background:url(../images/wq_fldh_bottom.jpg) no-repeat;	
	}
	.wq_flah_daosanjiao{
	background:url(../images/wq_sanjiao.jpg) no-repeat center;
		}
/*翻页效果*/	
	.wq_fanye{
  width:400px;	height:20px;border:1px solid red;float:right;
  color:#575757;line-height:20px;	
		}