@import url(base.css);
  
    .wq_fldh{
  float:left;
  width:257px;height:auto;	
  background:#fff;overflow:hidden;
	}
	.wq_fldh_top{
 width:100%;height:72px;background:url(../images/wq_fldh.jpg) no-repeat;	
 margin-bottom:8px;_margin-bottom:-25px;
	}
	.wq_fldh_content{
 background:#fff;	
	}
	.wq_fldh_title{
 width:234px;height:45px;	margin-left:2px;border-top:1px solid #e6e6e6;
 border-bottom:1px solid #e6e6e6;line-height:45px;padding-left:20px;
 color:#575757;cursor:pointer;font-size:16px;background:#fff;
  transition:all 1s ease; 
	}
	.wq_fldh_title span{
		 overflow:hidden;
		 height:45px;
	  }
	.wq_fldh_title:hover{
	 background:#009494;
		}
	.wq_fldh_title .wq_fldh_sanjiao{
 width:8px;height:8px;background:url(../images/wq_daosanjiao.png) no-repeat center top;
float:right;
 margin-right:16px;margin-top:18px;
 overflow:hidden;
	}
	.wq_list{
		 width:257px;height:auto;background:#fff;
		 _margin-left:-20px;
	}
	.wq_fldh_list{
 width:211px;height:40px;border-bottom:1px dashed #e6e6e6;
 margin-left:21px;line-height:40px;background:#fff;
 font-size:14px;color:#9d9f9f;padding-left:3px;
 cursor:pointer;transition:all 1s ease;
	}
	.wq_fldh_list:hover{
		 color:#02bebe;
		}
	.wq_fldh_bottom{
 width:100%;height:20px;background:url(../images/wq_fldh_bottom.jpg) no-repeat;	
	}
	.wq_fldh_title .wq_flah_daosanjiao{
	background:url(../images/wq_sanjiao.png) no-repeat center;
		}
	.wq_fldh_click{
	border-bottom:0;	
		}	
/*翻页效果*/	
	.wq_fanye{
  width:400px;
  height:20px;padding-top:15px;padding-bottom:15px;
  color:#575757;line-height:20px;
		}
	.wq_fanye a:hover{color:#009494; font-weight:bold;}
	.wq_fanye span{padding:2px;}
   .wq_tiaozhuan{ width:20px;height:18px;text-align:center; 
   float:left;border:1px solid #575757; 
	   }	
/*党史上的今天*/	   
	 .wq_dsjt{
	width:1080px;height:27px;margin:0 auto;
	position:relative;overflow:hidden;
		 }  
	 .wq_dsjt_inner{
	position:absolute;height:27px;color:#999;top:0;left:0;
	width:auto;margin-left:280px;
		  } 
	 .wq_dsjt_inner img{
	display:block;	 
		 }	  
	 .wq_dsjt_word{
	height:27px;line-height:27px; width:auto;
	float:left;
		 }  
	 .wq_dsjt_calnder{
	height:27px;width:100px;padding-left:30px;float:left;
	line-height:30px;background:url(../images/wq/wq_calnder.png) no-repeat 0 0; ;	 color:#009494;	line-height:27px;
		 }  
	   
	   
	   
	   
	   
	   	