 .wq_gju_pic{
 width:200px;height:254px;overflow:hidden;	padding-left:10px;padding-top:10px; 
	 }
 .wq_gju_jianjie{
 width:560px;height:244px;padding-top:20px;padding-right:10px; 
	 }	
	 
 .wq_gju_jieshao{
 width:780px;padding:10px;	line-height:1.5em; 
	 }	  
	 
 .myl-news-list-box h1{
 margin-left:30px;	 
	 }	 
	 
	 
	 
	 
	 
	 
	 
	  