  .wq_zn_top{
	width:100%;height:37px;background:#009494;font-size:16px;
	text-align:center;line-height:37px;color:#fff;  
	  }
  .wq_rdzys{
	width:700px;padding:20px 50px;  color:#000;line-height:1.5em;
	  }	  
   .wq_zn_rdlc{
	  width:800px;height:auto; overflow:hidden;
	   }	  
    .wq_zn_rdlc img{
	float:left;	
		}	   