.guangying-item{
  border:1px solid #0f551d;
  width:360px;
  height:280px;
  margin-left:20px;
  margin-bottom:20px;
  position:relative;
  display:inline-block;
}
.guangying-item p{
  padding:0 10px;
  height:50px;
  line-height:50px;
  width:340px;
  background-color:#0e0e01;
  opacity:0.9;
  filter:alpha(opacity=90);
  position:absolute;
  bottom:0px;
  left:0;
}
.guangying-item span{
  float:right;
}
.play{
  position:absolute;
  top:50%;
  margin-top:-35px;
  left:50%;
  margin-left:-35px;
}
