.tushuo-item{
  border:1px solid #0f551d;
  width:360px;
  height:280px;
  margin-left:20px;
  margin-bottom:60px;
  position:relative;
 overflow:hidden;
}
.tushuo-item img{
  width:360px;height:230px;	
	}
.tushuo-item p{
  height:50px;
  line-height:50px;
  width:360px;
}
