.zhinanpic{
            margin-top:10px;
            width:780px;
            margin:0 auto;
            height:483px;
            position:relative;
            }
.right-image{
              top:50%;
              right:10px;
              margin-top:-24px;
              position:absolute;
              }
.left-image{
              top:50%;
              left:10px;
              margin-top:-24px;
              position:absolute;
             }
.zhinancontent{
                padding-top:20px;
                padding-left:20px;
                font-size:17px;
                line-height:20px;
                /* border:1px solid red; */
                width:760px;
                margin:0 auto;
                margin-top:20px;
                margin-bottom:20px;
                }

.image-list{
padding-top:20px;
padding-bottom:20px;
border:1px solid black;
width:780px;
margin:0 auto;
position:relative;
overflow:hidden;
}

.image-wrapper{
width:2000px;
overflow:hidden;
margin-left:0;
}

.image-wrapper > img{
  margin-left:29px;
  width:120px;
  height:120px;
  float:left;
  border:1px solid black;
}

.image-wrapper >img:hover{
box-shadow: 0px 3px 10px black ;

}


.l-l-image{
position:absolute;
  height:30px;
  top:50%;
  margin-top:-20px;
  left:3px;

}
.l-r-image{
position:absolute;
height:30px;
top:50%;
margin-top:-20px;
right:3px;

}
