.hnz_rt-list{ width:778px;
background:#fff;
                    height:auto;
                    float:right;
                    box-shadow:2px 2px 5px #bbb;
                    display:inline-block;padding:16px;}
.hnz_rt-list li{width:778px;height:109px;margin-bottom:25px;}
.hnz_rt-list li .hnz_rt-list-img{width:218px;height:109px;float:left;}
.hnz_rt-list li .hnz_rt-list-img img{width:109px;height:109px; float:left;}
.hnz_rt-list li .hnz_rt-list-img a{float:left;width:107px;height:107px; }
.hnz_rt-list-down{
	background:url(../../images/hnz/hnz_jpdd_down.jpg) no-repeat center center; 
	border: 1px solid #ccc;
	}
.hnz_rt-list-move{
	background:#b84526 url(../../images/hnz/hnz_jpdd-move.gif) no-repeat center center;
	border: 1px solid #b84526;
	}
.hnz_rt-list-con{
	width:540px;height:109px;margin-left:20px;float:left;
	}
.hnz_rt-list-con h3{width:100%;height:30px;font-size:16px; line-height:30px; font-weight:bold;}
.hnz_say{float:left;width:120px;height:20px; background:url(../../images/hnz/hnz_jpdd_user.jpg) no-repeat  0 center;padding-left:18px;}
.hnz_date{float:left;width:120px;height:20px;background:url(../../images/hnz/hnz_jpdd-date.jpg) no-repeat 0 center; padding-left:18px;}
.hnz_down{width:50px;height:20px;background:url(../../images/hnz/hnz_jpdd_down-small.jpg) no-repeat 0 center; padding-left:18px;}
.hnz_see{width:50px;height:20px;background:url(../../images/hnz/hnz_jpdd-ckcs.gif) no-repeat 0 center; padding-left:20px;
	}
.hnz_rt-list-con p{width:100%;height:45px;margin-top:5px; border-top:1px solid #ccc; overflow:hidden;}
