.hnz_rt-list-box { width: 778px; background: #fff; height: auto; float: right; box-shadow: 2px 2px 8px #bbb; display: inline-block; padding: 16px; }
.hnz_rt-list{width:778px;height:auto;padding:16px 0;}
.hnz_xybq{width:778px;height:auto; overflow:hidden;padding-bottom:5px; border:1px solid #eee;padding-top:15px}
.hnz_xybq li{width:auto;height:30px;float:left;}
.hnz_xybq li a{padding:5px 10px 5px 10px;}
.hnz_xybq li a:hover{color:#009494;}
.hnz_xybq li i{ padding:0 5px;font-size:14px;color:#e9e9e9;}
.hnz_rt-list li { width: 778px; height: 109px; margin-bottom: 25px; }
.hnz_rt-list li .hnz_rt-list-img { width: 218px; height: 109px; float: left; }
.hnz_rt-list li .hnz_rt-list-img img { width: 109px; height: 109px; float: left; }
.hnz_rt-list li .hnz_rt-list-img p { float: left; width: 107px; height: 107px; }
.hnz_gq { border: 1px solid #ccc; }
.hnz_gq i { display: block; width: 100%; height: 70px; font-size: 36px; color: #aaa; text-align: center; line-height: 80px; }
.hnz_gq span { display: block; width: 100%; height: 20px; text-align: center; color: #aaa; }
.hnz_wgq { border: 1px solid #b84526;background:#b84526; }
.hnz_wgq i { display: block; width: 100%; height: 70px; font-size: 36px; color: #fff; text-align: center; line-height: 80px; }
.hnz_wgq span { display: block; width: 100%; height: 20px; text-align: center; color: #fff; }
.hnz_rt-list-con { width: 540px; height: 109px; margin-left: 20px; float: left; }
.hnz_rt-list-con h3 { width: 100%; height: 30px; font-size: 16px; line-height: 30px; font-weight: bold; }
.hnz_say { float: left; width: 120px; height: 20px; background: url(../../images/hnz/hnz_jpdd_user.jpg) no-repeat 0 center; padding-left: 18px; }
.hnz_kc{ float: left; width: 120px; height: 20px; background: url(../../images/hnz/hnz_kc-icon.gif) no-repeat 0 center; padding-left: 18px; }
.hnz_wz{ width: 50px; height: 20px; background: url(../../images/hnz/hnz_weizhi.gif) no-repeat 0 center; padding-left: 18px; }
.hnz_see { width: 50px; height: 20px; background: url(../../images/hnz/hnz_jpdd-ckcs.gif) no-repeat 0 center; padding-left: 20px; }
.hnz_rt-list-con p { width: 100%; height: 45px; margin-top: 5px; border-top: 1px solid #ccc; overflow: hidden; line-height:25px; }
