.hnz_rt-list { width: 778px; background: #fff; height: auto; float: right; box-shadow:0 0 5px #ccc; display: inline-block; padding: 16px; }
.hnz_rt-list .hnz_rt-con-lt{width:216px;height:288px; background:url(../../images/hnz/hnz_book-bg.gif) no-repeat 0 0;float:left;}
.hnz_rt-con-lt img{width:201px;height:268px;margin: 2px 2px;}
.hnz_rt-con-rt{width:537px;height:268px;float:right;margin-left:25px; }
.hnz_rt-con-rt .hnz_sjmc{width:100%;height:75px;border-bottom:1px solid #ccc; font-size:22px; line-height:110px;}
.hnz_rt-con-rt .hnz_sjzz{width:auto;height:40px; line-height:40px;background:url(../../images/hnz/hnz_jpdd_user.jpg) no-repeat 0 13px;padding-left:20px;}
.hnz_rt-con-rt .hnz_cbsj{width:auto;height:40px; line-height:40px;background: url(../../images/hnz/hnz_jpdd-date.jpg) no-repeat 0 13px; padding-left:20px;}
.hnz_rt-con-rt .hnz_sjbh{width:auto;height:40px; line-height:40px; border-bottom:1px solid #CCCCCC;} 
.hnz_content{width:100%;height:auto; overflow:hidden;}
.hnz_content h5{width:100%;height:40px; font-size:16px; line-height:40px; border-bottom:1px solid #ccc;}
.hnz_content p{width:90%;height:auto;padding: 20px 5%; line-height:26px;}
.hnz_content ul{width:90%;height:auto; overflow:hidden;padding:5%;}
.hnz_content ul li{width:100%;height:40px; line-height:40px;}
.hnz_content ul li a:hover{color:#009494;}
.hnz_fy{width:100%;height:50px; overflow:hidden;}