@import url(../base.css);
/*top开始*/
.hnz_nav-box { min-width: 1080px; height: 157px; margin: 0 auto; }
.hnz_color-bg {min-width: 1080px; height: 27px; background: #009494; }
	/*logo*/
.hnz_logo-box { width: 1080px; height: 80px; margin: 0 auto; }
.hnz_logo-box .hnz_logo { width: 190px; height: 64px; background: url(../../images/hnz_logo.gif) no-repeat 0 0; margin: 8px 0;}
	/*login*/
.hnz_login-box{width:550px;height:30px;margin:25px 0;}
.hnz_login-box .hnz_user{width:100px;height:28px;border:1px solid #009494; background:url(../../images/hnz_user.gif) no-repeat 110px center;padding:0 30px 0 5px;}
.hnz_login-box .hnz_pwd{width:100px;height:28px;border:1px solid #009494; background:url(../../images/hnz_pwd.gif) no-repeat 110px center;padding:0 30px 0 5px;margin-left:5px;}
.hnz_login-box .hnz_btn{width:60px;height:30px;background:#009494;border:0;color:#fff; cursor:pointer;margin-left:5px;}
.hnz_login-box .hnz_search-input{width:160px;height:28px;border:1px solid #009494;padding:0 5px;margin-left:5px;}
.hnz_login-box .hnz_search-btn{width:29px;height:30px;background:#009494 url(../../images/hnz_search.gif) no-repeat 0 0;border:0;margin-left:0px; cursor:pointer;}
	/*nav*/
.hnz_n-box{min-width:1080px;height:49px;border-top:1px solid #009494;}
.hnz_nav{width:1080px;height:100%;margin:0 auto;}
.hnz_nav li{width:122px;height:100%;float:left; position:relative;z-index:999;}
.hnz_nav li a{ display:block;width:100%;height:100%; text-align:center; line-height:49px; color:#009494;}
.hnz_nav li i{width:15px;height:15px;background:url(../../images/hnz_arrow.png) no-repeat 0 0; position:absolute; right:10%;top:16px;}
.hnz_nav li:hover>a{background:#009494;color:#fff;}
.hnz_nav li:hover i{background:url(../../images/hnz_arrow_hot.png) no-repeat 0 0;}
#hnz_hot a{background:#009494;color:#fff;}
.hnz_nav li dl{width:100%;height:auto; display:none; position:absolute; z-index:999;}
.hnz_nav li dl dd{width:100%;height:49px;background:#009494;border-top:1px solid #fff;}
.hnz_nav li dl dd a{color:#fff;transition:all 1s ease;}
.hnz_nav li dl dd a:hover{background:#007575;}
/*top结束*/
/*banner开始*/
	/*banner bg*/
.hnz_banner-box{min-width:1080px;height:433px; position:relative;}
.hnz_banner-bg{width:100%;height:100%;overflow:hidden; position:relative;}
.hnz_banner-bg img{width:1280px;position:absolute;top:0;left:50%; display:block;margin-left:-640px;}
.hnz_banner-bg .hnz_b-btns{width:1180px;height:80px;margin-left:-590px;position:absolute;z-index:10;left:50%;top:166px;}
.hnz_b-btns div{width:50px;height:80px;background:#393939; font-family:"黑体";font-size:36px; text-align:center; line-height:80px; opacity:0.6; filter: alpha(opacity=60);color:#fff; cursor:pointer;}
.hnz_b-btns .hnz_l-btn{float:left;}
.hnz_b-btns .hnz_r-btn{float:right;}
.hnz_b-btns .hnz_l-btn:hover{float:left;opacity:1; filter: alpha(opacity=100);}
.hnz_b-btns .hnz_r-btn:hover{float:right;opacity:1; filter: alpha(opacity=100);}
	/*video*/
.hnz_videoout-box{width:1080px;height:329px;margin-left:-540px;position:absolute;top:43px;left:50%; z-index:998;}
		/*video window*/
.hnz_video-box{width:1080px;height:100%;}
.hnz_video-box .hnz_video{width:658px;height:329px; background:#fff; overflow:hidden;}
.hnz_video-box .hnz_video li{width:100%;height:100%;}
.hnz_video-box .hnz_video li video{height:100%;}
		/*video list*/
.hnz_video-box .hnz_videolist{width:122px;height:100%;}
.hnz_video-box .hnz_videolist li{width:100%;height:46px;border-bottom:1px solid #f1f1f1; text-align:center; line-height:47px;}
.hnz_video-box .hnz_videolist li a{display:block;width:100%;height:100%;background:#009494;color:#fff;}
.hnz_video-box .hnz_videolist li a:hover{background:#007575;}
.hnz_video-box .hnz_videolist  .hnz_notb{border:0;}
.hnz_video-box .hnz_videoCon{width:300px;height:100%;position:relative; overflow:hidden;}
.hnz_video-box .hnz_videoCon li{width:100%;height:100%;}
.hnz_video-box .hnz_videoCon h3{width:150px;height:auto;color:#fff;font-size:26px;margin:0 71px;}
.hnz_video-box .hnz_videoCon p{width:150px;height:auto;color:#fff; font-size:14px;margin:10px 71px;}
.hnz_video-box .hnz_videoCon i{display:block;width:44px;height:44px; background:url(../../images/hnz/hnz_video.gif) no-repeat top center; position:absolute;right:5%;top:0;}
/*content */
.hnz_content-box{width:1080px;height:300px;margin:0 auto;margin-top:32px;}
.hnz_content-box .hnz_con-lft{width:600px;height:300px;float:left;}
.hnz_con-lft .hnz_sub-c-lft{width:300px;height:300px;float:left;}
.hnz_con-lft .hnz_sub-c-lft a{width:150px;height:150px;float:left; text-align:center;}
.hnz_con-lft .hnz_sub-c-lft a h3{font-size:24px;color:#fff;margin-top:15px;}
.hnz_con-lft .hnz_sub-c-lft a p{font-size:16px;color:#fff; font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;margin-top:5px;}
.hnz_sub-c-lft a:hover{background:#006c6c;}
.hnz_sub-c-lft .hnz_sdyw{background:#25abab;}
.hnz_sub-c-lft .hnz_xytg{background:#009494;}
.hnz_sub-c-lft .hnz_xsbg{background:#009494;}
.hnz_sub-c-lft .hnz_tznr{background:#25abab;}
.hnz_content-box .hnz_sub-c-rt{width:240px;height:270px; background:url(../../images/hnz/hnz_sdxb.gif) no-repeat 0 0;float:left;padding:15px 30px;}
.hnz_sub-c-rt .hnz_sdxb h3{font-size:24px;color:#fff;}
.hnz_sub-c-rt .hnz_sdxb:hover h3{color:#009494;}
.hnz_sub-c-rt .hnz_sdxb:hover p{color:#009494;}
.hnz_sub-c-rt .hnz_sdxb p{color:#fff;margin-top:5px;}
.hnz_sub-c-rt .hnz_sdxb-list{width:240px;height:200px;margin-top:20px;}
.hnz_sub-c-rt .hnz_sdxb-list a{display:block;color:#fff;font-size:12px;margin-bottom:5px;}
.hnz_sub-c-rt a:hover{color:#009494;}
.hnz_content-box .hnz_con-rt {width:450px;height:300px;float:left;margin-left:30px;}
.hnz_con-rt a{width:150px;height:150px;float:left;}
.hnz_con-rt a h3{font-size:16px;color:#fff;margin-left:10px;margin-top:10px;}
.hnz_con-rt a p{font-size:16px;color:#fff;margin-left:10px;margin-top:5px;}
.hnz_con-rt a:hover{background:#006c6c;}
.hnz_con-rt .hnz_axsw{background:#009494;}
.hnz_con-rt .hnz_xgxt{background:url(../../images/hnz/hnz_xgxt.png) no-repeat 0 0;}
.hnz_con-rt .hnz_xgxt h3{margin-top:70px;}
.hnz_con-rt .hnz_ewm{width:150px;height:150px;float:left;background:#009494;}
.hnz_con-rt .hnz_xsmhxx{background:url(../../images/hnz/hnz_xsmhxx.gif) no-repeat 0 0;}
.hnz_con-rt .hnz_xsmhxx h3{margin-top:50px;}
.hnz_con-rt .hnz_tpxt{background:#009494;}
/*footer开始*/
.hnz_footer-box{min-width:1080px;height:100px;margin-top:42px;background:#008787;}
.hnz_footer{width:1080px;height:100%;margin:0 auto;}
.hnz_footer p{padding-top:20px; text-align:center; font-size:12px;color:#fff; line-height:20px;}
.hnz_footer p a{color:#fff;}
.hnz_footer p a:hover{ text-decoration:underline;}
/*footer结束*/
/*返回顶部*/
.to-top{
	position:fixed;
	bottom:103px;
	right:30px;
}
/*返回顶部*/
