.yyj-list-box .new_hnz_sjz{
	width:100%;
	height:88px;
	background:#fbfbfb;
	box-shadow:0px 2px 3px #eee;
	}
.yyj-list-box .new_hnz_left,.new_hnz_right{
	width:41px;
	height:84px;
	background:#f5f5f5;
	margin:2px;
	font-size:24px;
	font-family:"黑体";
	text-align:center;
	line-height:84px;
	transition:all 0.6s ease;
	}
.yyj-list-box .new_hnz_left:hover,.new_hnz_right:hover{
	background:#009494;color:#fff;
	}
.yyj-list-box .new_hnz_center{
	width:684px;margin-left:13px;
	height:100%;
	background:url(../../images/hnz/new_hnz_sjz_bg.jpg) no-repeat center center;overflow:hidden;
	}
.yyj-list-box .new_hnz_c_box{
	width:678px;height:100%;margin-left:3px;
	}
.new_hnz_pointer{
	width:40px;height:40px;margin:36px 45px 0;float:left;
	}
.new_hnz_pointer a{
	display:block;width:13px;height:13px;background:#aaa; border-radius:50%;border:2px solid #fff; box-shadow: 1px 1px 3px #ccc;margin: 0 auto;
	transition:all 0.5s ease;
	}
.new_hnz_pointer a:hover{
	width:11px;height:11px;
	background-color:#009494;
  	padding:2px;
  	border:1px solid #009494;
	background-clip:content-box;
  	background-origin:content-box;
	transform:scale(1.1,1.1)
	}
.new_hnz_pointer span{
	display:block;width:100%;height:14px; text-align:center;line-height:14px;margin-top:5px;font-size:12px;
	}